/* === + gen_model=== */
@import '../init.scss';

.gen-models__wrap, .gen-models-filter__wrap {
    border: 1px solid $color-secondary-2-2;
    border-radius: 1rem;
    margin: 0.3rem;
    &>h2 {
        text-align: center;
        padding: 1rem;
    }
}

.gen-models {
    display: flex;   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    

    .gen-model {
        border: 1px solid $color-secondary-2-2;
        border-radius: 1rem;
        margin: 0.3rem;
        max-width: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & >* {
            margin: 0.3rem;
        }
        .gen-model__title {
            /* background-color: rgb(112, 73, 73); */
            padding: .5rem;
            text-align: center;
            color: $color-secondary-2-2;
            border-bottom: 1px solid $color-secondary-2-2;
            /* border: 1px solid $color-secondary-2-4; */
        }

        .gen-model__picture {
            width: 100px;
            height: 100px;
            /* margin: .5rem; */

            /*         border-radius: 50%;
        border: 1px solid $color-secondary-2-3; */
            .gen-model__picture--decor {
                width: 80%;
                margin: 20%;
                /* height: 32vw; */
            }
        }
        .gen-model__package {
            font-size: 0.6rem;
        }
        .gen-model__btn, .gen-model__btn--disabled {

            display: inline-block;
            padding: .5rem;
            border-radius: .5rem;
            border-style: none;
            text-decoration: none;
            transition: color 100ms;
            /* margin: .5rem; */
            /* border: 1px solid $color-secondary-2-3; */
            color: white;
            background-color: $color-secondary-2-2;
        }
        .gen-model__btn {
            &:hover, &:focus {
                background-color: $color-secondary-2-3;
                cursor: pointer;
            }
        }    
        .gen-model__btn--disabled {
            &:hover, &:focus {
                cursor: not-allowed;
                pointer-events: none;
            }            
        }    
            /*         background-color: $color-secondary-1-4;
        color: $color-primary-2; */
        }
    }