.specification-form__wrap {
/*     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    .radiogroup--decor {
        /* background-color: #52520011; */
        width: 91%;
        margin: 1rem;
        border: 1px solid rgba(0, 0, 0, 0.336);
        border-radius: 6px;
    }
}

.eee {
    background-color: #52520027;
    width: 90%;
    margin: 1rem;
}